# 忽略数据集和压缩包
*.zip
MVIData_*/
MVI0201_test/
MVI0318_test/
# MVI0325_test/
MVI0508_cross/

# 忽略模型权重文件及文件夹
*.pth
# *.pt
pretrained_weights/
MVI_paper_pth/
MVI_vit_pth/
MVI_vit_pth_tuned/

# 忽略本地配置和缓存
.claude/
__pycache__/
*.log
